* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header ul {
  text-align: center;
}

header ul li {
  display: inline;
  border-right: 1px solid #252b42;
  padding-left: 5px;
  padding-right: 5px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  height: 800px;
  padding-top: 184px;
  background-image: url(./img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_title {
  margin: 0px 0px 35px 197px;
}

.hero_title h1 {
  position: static;
  width: 509px;
  height: 160px;
  left: 0px;
  top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.hero_title p {
  position: static;
  width: 376px;
  height: 60px;
  left: 0px;
  top: 195px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}

.hero_buttons {
  margin: 0px 0px 35px 197px;
}

.hero_buttons button {
  padding: 10px 36px;
  background: transparent;
  border: 1px solid #00a0c1;
  border-radius: 37px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #00a0c1;
  cursor: pointer;
}

.hero_buttons button:hover {
  background-color: #ffa62b;
  color: #ffffff;
  border-color: #ffa62b;
}

.hero_cards {
  margin-left: 167px;
}

.card {
  display: inline-block;
  padding: 35px 40px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 90px 30px 0px;
}

.card h3 {
  position: static;
  width: 213px;
  height: 32px;
  left: 40px;
  top: 93px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.card p {
  position: static;
  width: 218px;
  height: 40px;
  left: 40px;
  top: 135px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 10px 0px;
}

.special_card {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  position: static;
  width: 328px;
  height: 210px;
  left: 0px;
  top: 0px;
  background: #00a0c1;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.special_card h3 {
  position: static;
  width: 222px;
  height: 32px;
  left: 40px;
  top: 93px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

.special_card p {
  position: static;
  width: 213px;
  height: 40px;
  left: 40px;
  top: 135px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 10px 0px;
}

.stat_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 864px;
  height: 107px;
  left: calc(50% - 864px / 2);
  top: 80px;
  margin: 192px auto 50px auto;
}

.stat_title h2 {
  text-align: center;
  margin-bottom: 10px;
  position: static;
  width: 353px;
  height: 57px;
  left: 255.5px;
  top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.stat_title p {
  position: static;
  width: 511px;
  height: 40px;
  left: 176.5px;
  top: 67px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.stat_cards {
  align-items: center;
  margin-left: 195.5px;
  margin-right: 205.5;
}

.stat_card {
  margin-bottom: 205px;
  margin-left: 40px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  position: static;
  width: 230px;
  height: 209px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.stat_card h2 {
  position: static;
  width: 53px;
  height: 57px;
  left: 88.5px;
  top: 88px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.stat_card h5 {
  position: static;
  width: 109px;
  height: 24px;
  left: 60.5px;
  top: 155px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

.stat_card img {
  position: static;
  width: 48px;
  height: 48px;
  left: 91px;
  top: 30px;
}

.advice_title {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0px;
  position: static;
  width: 1050px;
  height: 197px;
  left: calc(50% - 1050px / 2);
  top: 80px;
}

.advice_title h2 {
  position: static;
  width: 321px;
  height: 57px;
  left: 271.5px;
  top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.advice_title p {
  position: static;
  width: 470px;
  height: 40px;
  left: 197px;
  top: 67px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

.advice_cards {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1049px;
  height: 342px;
  left: calc(50% - 1049px / 2);
  top: 277px;
}

.advice_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 230px;
  height: 341px;
  left: 4px;
  top: 0px;
  background: #ffffff;
  margin-right: 40px;
}

.advice_card h5 {
  position: static;
  width: 160px;
  height: 48px;
  left: 30px;
  top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 15px;
}

.advice_card p {
  position: static;
  width: 160px;
  height: 80px;
  left: 30px;
  top: 93px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 30px;
}

.advice_card img {
  height: 138px;
  left: 0px;
  right: 0px;
}
